<section>
  <div *ngFor="let movie of movies">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{movie.Title}}</h4>
        <p class="card-text">{{movie.Plot}}</p>
        <p class="bold mb-0">Actors : </p>
        <nav class="nav">
          <a *ngFor="let Actor of movie.Actors" class="nav-link" href="#">{{Actor}}</a>
        </nav>
        <div [hidden]="!movie.Director">
          <p class="bold mb-0">Director : </p>
          <nav class="nav">
            <a *ngFor="let Dir of movie.Director" class="nav-link" href="#">{{Dir}}</a>
          </nav>
        </div>

        <div [hidden]="!movie.Website">
          <p class="bold mb-0">Website :</p>
          <a href="{{movie.Website}}" class="btn btn-link" target="_blank">{{movie.Title}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
